<% content_for :title do %>
  <%= @organization.title %>
<% end %>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1><%=@organization.title %>: <%= t 'models.user.create_user' %></h1>
    <div class="col-sm-12" style="background-color:#63c0de"></div>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <%= render 'form' %>
  </div>
  <div class="col-sm-3"></div>
</div>
