<% content_for :title do %>
  Organizations
<% end %>

<div class="row">

  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1>Listing organizations</h1>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Posts</th>
        <th>Users</th>
      </tr>
      <% @organizations.each do |org| %>
        <tr>
          <td><%= org.title %></td>
          <td><%= button_to organization_posts_path(org), method: "get", class: "btn btn-info" do%>
              Posts
            <%end %>
          </td>
          <td><%= button_to organization_users_path(org), method: "get", class: "btn btn-info" do%>
            Users
      <%end %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @organizations, window: 2%>
  </div>
  <div class="col-sm-3"></div>
</div>
